<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{title}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="js/modernizr/modernizr.js"></script>

    <link rel="stylesheet" href="css/screen.css"/>

</head>
<body>

    <div id="main-header">

    </div>

    <div id="main-content">
        {{> body}}
    </div><!-- // #main-content -->

    <div id="main-footer">

    </div><!-- // #main-footer -->




    <!-- scripts -->
    <script src="js/jquery/dist/jquery.min.js"></script>
    <script src="js/main.js"></script>
    <!-- // Scripts -->


</body>
</html>